html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    margin: 0 auto;
    color: #333;
}

.login-area {
    height: 40px;
    line-height: 40px;

    margin-bottom: 10px;
}

.link-group {
    float: right;
    font-size: 13px;
    color: gray;
}

.link-group + .link-group {
    margin-right: 30px
}


.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.page-title {
    text-decoration: none;
    color: #333;
}

.error {
    color: red;
    float: right;
    font-size: 18px;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.edit-form {
    position: absolute;


    top: 45px;
    right: 0px;
    bottom: 10px;
    left: 0px;
}

.edit-form #container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 35px;
}

.edit-form textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit 
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100%;
    height: 100%;
    margin: 0; /* don't want to add to container size */
    border: 1px solid #CCCCCC;
    font-size: 14px;
    font-family: monospace;
}

.edit-form button {
    font-size: 18px;
}

.form-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;

}

.post-content {
    margin-top: 40px;
    max-width: 800px;
    word-wrap: break-word;
}

.history-table { 
    border-collapse: collapse;
}

.history-table .date-cell {
    width: 200px;
    vertical-align: text-top;
    padding-top: 10px;
}

.history-table .content-cell {
    padding: 10px;
}

.history-table .link-cell {
    padding: 0px 5px;
}

tr:nth-child(even) {
    background: #F5F5F5;
}

.view-link {
    color: gray;
    text-decoration: none;
    padding-right: 1em;
}

.view-link:hover {
    text-decoration: underline;
}
*/