{% extends "header.html" %}
{% block page %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Content</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for version in range(wiki_page.content|length, 0, -1) %}
					<tr>
						<td>{{ version }}</td>
						<td>{{ wiki_page.date_modified[version - 1].strftime('%c') }}</td>
						<td>{{ wiki_page.content[version - 1] }}</td>
						<td><a href="{{wiki_page.key.string_id()}}?v={{version}}">view</a></td>
						{% if user %}
							<td>
								<a href="/_edit{{wiki_page.key.string_id()}}?v={{version}}">edit</a>
							</td>
						{% endif %}		
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
