{% extends "base.html" %}
{% block content %}
{% if user %}
	<div class="login-area">
		<div class="link-group">
			<a class="login-link" href="/logout">{{user.username}}(logout)</a>
		</div>
		<div class="link-group">
			<a class="login-link" href="/_edit{{wiki_page.key.string_id()}}">edit</a>
			|
			<a class="login-link" href="{{wiki_page.key.string_id()}}">view</a>
		</div>
		<h2 style="margin: 0px; padding 0px;">History</h2>
	</div>
{% else %}
	<div class="login-area">
		<div class="link-group">
			<a class="login-link" href="/login">login</a>
			|
			<a class="login-link" href="/signup">signup</a>
		</div>
		<div class="link-group">
			<a class="login-link" href="{{wiki_page.key.string_id()}}">view</a>
		</div>
	<h2 style="margin: 0px; padding 0px;">History</h2>
	</div>
{% endif %}
<div class="post-content">
	<table class="history-table">
		{% for version in range(wiki_page.content|length, 0, -1) %}
			<tr>
				<td class="date-cell">
					{{ wiki_page.date_modified[version - 1].strftime('%c') }}
				</td>
				<td class="content-cell">
					{{ wiki_page.content[version - 1] }}
				</td>
				<td class="link-cell">
					<a class="view-link" href="{{wiki_page.key.string_id()}}?v={{version}}">view</a>
				</td>
				{% if user %}
					<td class="link-cell">
						<a class="login-link" href="/_edit{{wiki_page.key.string_id()}}?v={{version}}">edit</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
