{% extends "header.html" %}
{% block page %}
<div class="container" id="page">
	{% if msg %}
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-info" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			{{wiki_page.render_content(version) | safe}}
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<hr>
		</div>
	</div>
</div>
{% endblock %}
